src/rpc-server/schemas/airbnb.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="airbnbs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="airbnb" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element name="host">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:string" name="verified"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:long" name="id" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="location">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="neighbourhood">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="group" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="coordinates">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="latitude"/>
                                                    <xs:element type="xs:string" name="longitude"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="country"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="id" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>