src/rpc-server/schemas/airbnb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="area" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:attribute type="xs:byte" name="id" use="optional"/>
                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="airbnbs">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="airbnb" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element name="host">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="name"/>
                                                    <xs:element type="xs:string" name="verified"/>
                                                </xs:sequence>
                                                <xs:attribute type="xs:long" name="id" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="address">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="house_number"/>
                                                    <xs:element type="xs:string" name="road"/>
                                                    <xs:element type="xs:string" name="neighbourhood"/>
                                                    <xs:element name="area">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:byte" name="ref" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="coordinates">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:float" name="latitude"/>
                                                                <xs:element type="xs:float" name="longitude"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:int" name="id" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>